.__select {
    position: relative;
    height: 40px;
    width: auto;
    &[data-state="active"] {
      .__select__title {
        &::after {
          transform: translateY(-50%) rotate(180deg);
        }
      }
      
      .__select__content {
        opacity: 1;
        visibility: visible;
      }
      
      .__select__label + .__select__input + .__select__label {
        max-height: 40px;
        border-top-width: 1px;
      }
    }
  }
  .__select__title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 10px 0px;
    color: #333;
    font-size: 16px;
    font-weight: 500;
    font-weight: 300;
    width: 65px;
    cursor: pointer;
    transition: all .1s ease-in-out;
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 16px;
      display: block;
      width: 14px;
      height: 8px;
      transition: all .3s ease-in-out;
      transform: translateY(-50%);
    }
    @media (min-width: 992px){
       &:hover{
     }
    }
  }
  .__select__content {
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border: 1px solid #333;
    transition: all .3s ease-in-out;
    opacity: 0;
    visibility: hidden;
    z-index: 8;
    transform: translateY(-100%);
  }
  .__select__input {
    display: none;
  
    &:checked + label {
        background-color: #333; 
        color: $white;  
    }
    &:disabled + label {
      opacity: 0.6;
      pointer-events: none;
    }
  }
  .__select__label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    color: #333;
    font-size: 14px;
    font-weight: 300;
    min-height: 40px;
    max-height: 0;
    padding: 5px 0px;
    transition: all .3s ease-in-out;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    & + input + & {
      // border-top: 0 solid #0097ac;
    }
    @media (min-width: 992px){
       &:hover{
        background-color: #333;  
        color: $white;    
     }
    }
  }